<nav>
  <div class="nav-wrapper">
      <a href="/" class="brand-logo">List of Books</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Books List</a></li>
          <li><a href="/create">Add Book</a></li>
      </ul>
  </div>
</nav>

